
 body {
background-color:black;
font-family: system-ui, sans-serif;
margin: 10px;
animation-name: backgroundchange;
animation-duration: 5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
filter: hue-rotate(0deg);
}



#content{
background-color:#F5F0F6  ;
border: 3px solid black;
height:600px ;
width: 700px;
margin: 40px auto;
border-radius: 30px ;
box-shadow:  inset 0px 0px 10px rgba(1, 1, 1, 0.7); 
}

#contentSmall{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px; 
   
}


h1{
text-align: center;
}

.board {
display: grid;
grid-template-columns: repeat(7, 1fr);
grid-template-rows: repeat(6, 1fr);
width: 450px; 
height: 390px;
border-radius: 10px;
padding: 5px;
margin: 40px auto;
background-color:#4381C1;
border-radius: 30px ;
box-shadow: 2px 4px 6px -1px rgba(0,0,0,0.6);

}


.cell {
height: 50px; 
width: 48px;
display: grid;
place-items: center;
border-radius: 50% ;
justify-content: center;
text-align: center;
margin: 5px;
box-shadow:  inset 0px 0px 10px rgba(0,0,0,0.7); 
font-size: 35px;
text-align: center;
cursor: pointer;
position: relative;
overflow: hidden; 

}



#message {
order: 1;
font-size: 20px;
font-weight: 700;
margin: 0;
}



#reset { 
order: 2;
color: aliceblue;
font-weight: 700;
margin:0px ;
background-color:#2c73d2;
border: 1px solid #2c73d2;
padding: 5px;
border-radius: 10px ;
box-shadow:  inset 0px 0px 10px rgba(0,0,0,0.7);
display: inline-block;
font-size: 15px;
animation-name: colorchange;
animation-duration: 5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
filter: hue-rotate(0deg);
}


h3{
color: white;
text-align: center;
font-weight: 700;
}





.disc {

    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 35px;

}

.disc.fall { 
    animation-name: drop;
    animation-timing-function: ease-in; 
    animation-fill-mode: forwards;
    animation-duration: var(--fall-duration); 
}

@keyframes drop {
    from {
        transform: translateY(-500px); 
        opacity: 1; 
    }
    to {
        transform: translateY(0); 
        opacity: 1;
    }
}



